<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hhy.cloud.crawl.dao.TemplatePageDao">

    <resultMap id="TemplatePageVO"
               type="org.hhy.cloud.crawl.vo.TemplatePageVO">
        <id column="template_page_id" property="id"/>
        <result column="job_id" property="jobId"/>
        <result column="template_page_name" property="name"/>
        <result column="url_regex" property="urlRegex"/>
        <collection property="listFields" ofType="org.hhy.cloud.crawl.vo.TemplateFieldVO">
            <discriminator javaType="int" column="detail_or_list">
                <case value="1">
                    <id column="id" property="id"/>
                    <result column="page_id" property="pageId"/>
                    <result column="name" property="name"/>
                    <result column="xpath_rule" property="xpathRule"/>
                    <result column="sort_index" property="sortIndex"/>
                    <result column="type" property="type"/>
                    <result column="detail_or_list" property="detailOrList"/>
                </case>
            </discriminator>

        </collection>
        <collection property="detailFields" ofType="org.hhy.cloud.crawl.vo.TemplateFieldVO">
            <discriminator javaType="int" column="detail_or_list">
                <case value="0">
                    <id column="id" property="id"/>
                    <result column="page_id" property="pageId"/>
                    <result column="name" property="name"/>
                    <result column="xpath_rule" property="xpathRule"/>
                    <result column="sort_index" property="sortIndex"/>
                    <result column="type" property="type"/>
                    <result column="detail_or_list" property="detailOrList"/>
                </case>
            </discriminator>
        </collection>
    </resultMap>


    <select id="selectTemplatePageVO" resultType="org.hhy.cloud.crawl.vo.TemplatePageVO">
        SELECT
            p.id        AS template_page_id,
            p.job_id    AS job_id,
            p.`name`    AS template_page_name,
            p.url_regex AS url_regex,
            f.*
        FROM
            template_page p
            LEFT JOIN template_field f ON p.id = f.page_id
                                          AND p.job_id = #{jobId};
    </select>

</mapper>