<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hhy.cloud.crawl.dao.TemplatePageDao">

    <resultMap id="TemplatePageVO"
               type="org.hhy.cloud.crawl.vo.TemplatePageVO">
        <id column="template_page_id" property="id"/>
        <result column="job_id" property="jobId"/>
        <result column="template_page_name" property="name"/>
        <result column="url_regex" property="urlRegex"/>
        <result column="key_xpath" property="keyXpath"/>
        <result column="key_regex" property="keyRegex"/>
        <collection property="fields" ofType="org.hhy.cloud.crawl.vo.TemplateFieldVO">
            <id column="id" property="id"/>
            <result column="page_id" property="pageId"/>
            <result column="name" property="name"/>
            <result column="regex" property="regex"/>
            <result column="xpath_rule" property="xpathRule"/>
            <result column="sort_index" property="sortIndex"/>
            <result column="type" property="type"/>
            <result column="detail_or_list" property="detailOrList"/>
        </collection>
    </resultMap>


    <select id="selectTemplatePageVO" resultType="org.hhy.cloud.crawl.vo.TemplatePageVO" resultMap="TemplatePageVO">
        SELECT
            p.id        AS template_page_id,
            p.job_id    AS job_id,
            p.`name`    AS template_page_name,
            p.url_regex AS url_regex,
            p.key_xpath AS key_xpath,
            p.key_regex AS key_regex,
            f.*
        FROM
            template_page p , template_field f where p.id = f.page_id
                                          AND p.job_id = #{jobId};
    </select>

</mapper>