<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lht.boot.security.resource.dao.UserInfoDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, name, age
    </sql>

    <!--分页查询-->
    <select id="selectPage" resultType="org.lht.boot.security.resource.vo.UserVO">
        SELECT
        `user`.*,
        role.id AS role_id,
        role.NAME role_name,
        role.sign AS role_sign
        FROM
        `user`,
        role,
        user_role
        WHERE
        user_role.user_id = `user`.id
        AND
        user_role.role_id = role.id ,
        <foreach collection="terms" open="" separator="," close="" item="term">
            #{term.column} = #{term.value}
        </foreach>
    </select>


</mapper>