<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lht.boot.security.resource.dao.UserInfoDao">
    <!--分页结果-->
    <resultMap id="PageUserVO"
               type="org.lht.boot.security.resource.vo.UserVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="username" property="username"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="sex" property="sex" javaType="Integer"/>
        <result column="age" property="age" javaType="Integer"/>
        <result column="identify" property="identify"/>
        <result column="avatar" property="avatar"/>
        <result column="status" property="status"/>
        <result column="creator_id" property="creatorId"/>
        <result column="update_id" property="updaterId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="roles" ofType="org.lht.boot.security.resource.vo.RoleVO">
            <id column="role_id" property="id"/>
            <result column="role_name" property="name"/>
            <result column="role_sign" property="sign"/>
        </collection>
    </resultMap>


    <!--分页查询-->
    <select id="page" resultType="org.lht.boot.security.resource.vo.UserVO" resultMap="PageUserVO">
        SELECT
        `user`.*,
        role.id AS role_id,
        role.name AS role_name,
        role.sign AS role_sign
        FROM
        `user`
        LEFT JOIN user_role
        ON
        user_role.user_id = `user`.id
        LEFT JOIN role
        ON
        role_id = role.id
        <if test="terms !=null and terms.size() > 0  ">
            WHERE
            <foreach collection="terms" open="" separator="and" close="" item="term">
                <if test="term.termType.toString() == 'eq'.toString() ">
                    ${term.column} = #{term.value}
                </if>
                <if test="term.termType.toString() == 'not'.toString() ">
                    ${term.column} != #{term.value}
                </if>
                <if test="term.termType.toString() == 'gt'.toString() ">
                    ${term.column} > #{term.value}
                </if>
                <if test="term.termType.toString() == 'lt'.toString() ">
                    ${term.column} &lt; #{term.value}
                </if>
                <if test="term.termType.toString() == 'gte'.toString() ">
                    ${term.column} >= #{term.value}
                </if>
                <if test="term.termType.toString() == 'like'.toString() ">
                    ${term.column} like concat('%',#{term.value},'%')
                </if>
                <if test="term.termType.toString() == 'in'.toString() ">
                    ${term.column} in
                    <foreach collection="term.value" open="(" separator="," close=")" item="i">
                        #{i}
                    </foreach>
                </if>

                <if test="term.termType.toString() == 'nin'.toString() ">
                    ${term.column} not in
                    <foreach collection="term.value" open="(" separator="," close=")" item="i">
                        #{i}
                    </foreach>
                </if>
            </foreach>
        </if>
    </select>


</mapper>